* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav .active {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.center-menu{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.menu {
  background-color: #f4f4f4;
  border: red solid 2px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  max-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.catagory {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);

  margin: 5px;
  border-radius: 10px;
  /* نفس خلفية .menu حتى لا يظهر المحتوى تحته */
  padding: .5rem 0;
  flex-basis: 100%;
  /* يجعل العنصر يأخذ كامل العرض المتاح */
  height: 40px;
}

.card{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.textsize {
  font-weight: bold;
  font-size: 20px;
}

.nitme {
  padding: 0 0 10px 10px;
}

.litem {
  display: flex;
  border-bottom: rgb(107, 107, 107) solid 1px;
  justify-content: space-between;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 100vh;

}

select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.cart-item {
  padding: 0.5rem 0.5rem;
  flex-grow: 1;
  overflow-y: auto;
  height: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.count {
  background-color: #e9e9e9;
}